<div class="row">
  <aside class="col-sm-4">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><%= @user.name %></h3>
      </div>
      <div class="card-body">
        <img class="rounded img-fluid" src="<%= gravatar_url(@user, { size: 500 }) %>" alt="">
      </div>
      <div class="card-body">
        <p><%= @user.introduce %></p>
      </div>
      
    </div>
  </aside>
  <div class="col-sm-8">
    <ul class="nav nav-tabs nav-justified mb-3">
      <li class="nav-item"><a href="<%= posts_user_path(@user.id) %>" class="nav-link">Photos</a></li>
      <li class="nav-item"><a href="<%= user_path(@user.id) %>" class="nav-link">Comments</a></li>
    </ul>

        
  <ul class="list-unstyled">
        <% @photos.each do |photo| %>
  <li class="media mb-3">
      <img class="mr-2 rounded" src="<%= gravatar_url(photo.user, { size: 50 }) %>" alt="">
      <div class="media-body">
        <div>
          <%= link_to photo.user.name, user_path(photo.user) %> <span class="text-muted">posted at <%= photo.created_at %></span>
        </div>
        <div>
          <p class="mb-0"><%= photo.caption %> Photo ID:<%= link_to photo.id %></p>
        </div>
        <div class="media-body" >
          
          <% if current_user == photo.user %>
            <%= link_to "Delete", photo, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
          <% end %>
        
         
         </div>
      </div>
    </li>
  <% end %>

  </div>
</div>