<% if logged_in? %>
  <p>User name: <%= current_user.name %></p>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the RICOH THETA Board</h1>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>


<h1>Index</h1>

<% if @photos.any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Details</th>
        <th>360 Photo</th>
        <th>comments</th>
      </tr>
    </thead>
    
    <tbody>
      <% @photos.each do |photo| %>
        <tr>
          <td>
            <p>ID:<%= link_to photo.id, photo %></p>
            <p><%= link_to photo.user.name, user_path(photo.user) %></p>
            <p><%= photo.created_at.strftime('%Y/%m/%d')%></p>
            <p>Caption:<%= photo.caption %></p>
            <p><%= link_to 'details', photo, class: "btn btn-info" %></p>
            <p><%= link_to 'comment', new_comment_path(photo_id: photo.id), class: "btn btn-primary" %></p>
          </td>
          <td><blockquote data-width="400" data-height="275" class="ricoh-theta-spherical-image" >Post from RICOH THETA. #theta360 - <a href="https://theta360.com/s/<%= photo.embended_html %>" target="_blank">Spherical Image - RICOH THETA</a></blockquote>
              <script defer src="https://theta360.com/widgets.js" charset="utf-8"></script>
          </td>
          
          <td>
            <% photo.comments.last(5).reverse.each do  |comment| %>
            
            <p><%= comment.comment %> :by <%= comment.user.name %></p> 
            <% end %>
          </td>
          
          
        </tr>
      <% end %> 
    </tbody>
  </table>
  <div>
    <%= paginate @photos %>
  </div>
<% end %>

<%= link_to 'Post new 360 Photo', new_photo_path, class: "btn btn-primary" %>