<% if logged_in? %>
  <p>User name: <%= current_user.name %></p>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the RICOH THETA Board</h1>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>


<h1>Index</h1>

<% if @photos.any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Photo ID</th>
        <th>Name</th>
        <th>360 Photo</th>
        <th>caption</th>
      </tr>
    </thead>
    <tbody>
      <% @photos.each do |photo| %>
        <tr>
          <td><%= link_to photo.id, photo %></td>
           
          <td><%= link_to photo.user.name, user_path(photo.user) %> <span class="text-muted">posted at <%= photo.created_at %></span>
        
          <!--↑ここを修正したい。-->
          <td><blockquote data-width="500" data-height="375" class="ricoh-theta-spherical-image" >Post from RICOH THETA. #theta360 - <a href="https://theta360.com/s/<%= photo.embended_html %>" target="_blank">Spherical Image - RICOH THETA</a></blockquote>
          <script async src="https://theta360.com/widgets.js" charset="utf-8"></script></td>
          <td><%= photo.caption %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div>
    <%= paginate @photos %>
  </div>
<% end %>

<%= link_to 'Post new 360 Photo', new_photo_path, class: "btn btn-primary" %>