<h1>360 Photo THETA post page </h1>

<%= form_with(model: @photo, local: true) do |f| %>
  <%= f.label :caption, 'discription' %>
  <%= f.text_field :caption %>
  
  <%= f.label :embended_html, 'THETA ID' %>
  <%= f.text_field :embended_html %>


  <%= f.submit 'post' %>
<% end %>

<%= link_to 'go back to Index', photos_path %>