<h1>id: <%= @photo.id %> detail of 360 Photo</h1>

<table class="table table-bordered">
  <tr>
    <th>id</th>
    <td><%= @photo.id %></td>
  </tr>
  <tr>
    <th>THETA ID</th>
    <td><blockquote data-width="1000" data-height="750" class="ricoh-theta-spherical-image" >Post from RICOH THETA. #theta360 - <a href="https://theta360.com/s/<%= @photo.embended_html %>" target="_blank">Spherical Image - RICOH THETA</a></blockquote>
<script async src="https://theta360.com/widgets.js" charset="utf-8"></script></td>
  </tr>
  <tr>
    <th>caption</th>
    <td><%= @photo.caption %></td>
  </tr>
</table>


 <% if current_user == @photo.user %>
 <%= link_to 'Delete the post', @photo, method: :delete, data: { confirm: 'May I delete it?' }, class: 'btn btn-danger' %>

<% end %>
        
